<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Selecciona las caracteristicas del pastel</h5>
                </div>
                <div class="card-body">
                  <div class="form-group">
                    <label for="frutas">Frutas:</label>
                    <select class="form-control" id="frutas">
                      <option>Manzana</option>
                      <option>Plátano</option>
                      <option>Fresa</option>
                      <option>Uva</option>
                      <option>Piña</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="verduras">Verduras:</label>
                    <select class="form-control" id="verduras">
                      <option>Lechuga</option>
                      <option>Tomate</option>
                      <option>Zanahoria</option>
                      <option>Brócoli</option>
                      <option>Cebolla</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="proteinas">Proteínas:</label>
                    <select class="form-control" id="proteinas">
                      <option>Pollo</option>
                      <option>Pescado</option>
                      <option>Ternera</option>
                      <option>Soja</option>
                      <option>Lentejas</option>
                    </select>
                  </div>
                </div>
              </div>
              
        </div>
    </div>
</div>


<div>
    <form #pastelForm="ngForm" (ngSubmit)="guardarPastel(pastelForm)">
        <div>
            <span>Nombre: </span>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="pastel.nombre">
        </div>
        <div>
            <span>Sabor: </span>
            <select name="sabor" #sabor="ngModel" [(ngModel)]="pastel.sabor">
                <option value="Mora" selected>Mora</option>
                <option value="Chocolate">Chocolate</option>
                <option value="Vainilla">Vainilla</option>
                <option value="Fresa">Fresa</option>
                <option value="Limon">Limon</option>
                <option value="3 Leches">3 Leches</option>
            </select>
        </div>
        <div>
            <span>Tamanio: </span>
            <select name="tamanio" #tamanio="ngModel" [(ngModel)]="pastel.tamanio">
                <option value="Grande" selected>Grande</option>
                <option value="Mediano">Mediano</option>
                <option value="Pequeño">Pequeño</option>
            </select>
        </div>
        <div>
            <span>Porciones: </span>
            <input type="number" name="porciones" #porciones="ngModel" [(ngModel)]="pastel.porciones">
        </div>
        <div>
            <span>Precio: </span>
            <input type="text" name="precio" #precio="ngModel" [(ngModel)]="pastel.precio">
        </div>
        <div>
            <span>Imagen: </span>
            <span *ngIf="pastel.imagen" style="float:none;">
                <img src="{{url+'get-imagen/'+pastel.imagen}}" style="width:100px;" alt="">
            </span>
            <input type="file" #archivoImagen placeholder="Seleccionar imagen" (change)="imagenChangeEvent($event);">            
        </div>
        <div>
            <input type="submit" [disabled]="!pastelForm.form.valid" value="GUARDAR">
        </div>
    </form>
</div>
