<div class="container-fluid footer">
    <div class="row ">
        <div class="col-md-3 logo">
            <img src="assets/images/logo-footer.png" height=70px alt="Logo Montebianco en blanco y negro">
            <p>Postres, tortas y helados 100% naturales</p>
        </div>
        <div class="col-md-3">
            <h5>NAVEGACIÓN</h5>
            <ul class="footer-content">
                <li><a routerLink="" routerLinkActive="active">Home</a></li>
                <li><a routerLink="crear-pastel" routerLinkActive="active">Crear Pasteles</a></li>
                <li><a routerLink="pasteles" routerLinkActive="active">Pasteles</a></li>
                <li><a routerLink="contacto" routerLinkActive="active">Contacto</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h5>PEDIDOS</h5>
            <ul>
                <li><a href="https://bit.ly/PedidosMBSanBlas">WhatsApp Pedidos</a></li>
                <li>Heladeria</li>
            </ul>
           
        </div>
        <div class="col-md-3">
            <h5>REDES SOCIALES</h5>
            <div class="btn-group-vertical footer-content">
                <a href="https://www.facebook.com/MonteBiancoHeladeriayPasteleria" class="btn btn-outline-light"><i class="fa fa-facebook"></i> Facebook</a>
                <a href="https://twitter.com/MonteBiancoEC" class="btn btn-outline-light"><i class="fa fa-twitter"></i> Twitter</a>
                <a href="https://www.instagram.com/montebianco_ec/" class="btn btn-outline-light"><i class="fa fa-instagram"></i> Instagram</a>
              </div>
              
            

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="lg-10 text-center">
            <p>WEBSITE REALIZADO POR: CARLOS LOPEZ CABRERA | Todos los derechos reservados</p>   
        </div>
    </div>
</div>